* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    color: rgb(131, 131, 131);
}

body{
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.wrapper{
    max-width: 1200px;
}

/*header*/

.menu {
    display: flex;
    margin: 20px 0;
}

.menu_item {
    list-style-type: none;
}

.menu_link{
    font-weight: 600;
    text-transform:uppercase;
}

.active,
.see-project:hover,
.contact-links__link:hover,
.menu_link:hover,
.menu_link:focus {
    color: black;
    border-bottom: 3px solid black;
} 

.about,
.footer{
    background: radial-gradient(100% 215.42% at 0% 0%, rgb(255, 255, 255) 0%, #000000 100%)
}

.about{
    display: flex;
}


.header_title{
    align-items: center;
    width: 500px;
    top: 120px;
    font-size: 50px;
    line-height: 70px;
    color: white;
}

/*main*/
.title{
    text-align: center;
    font-weight: 600;

    margin-top: 70px;
    font-size: 40px;
    line-height: 60px;
}

.section_ContactInform,
.header_sub,
.experienceList,
.langList,
.skillsList,
.educList,
.code,
.projects {
    width: 800px;
    margin-top: 15px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 27px;
    text-align: justify;
}

.experienceList,
.langList,
.skillsList,
.educList{
    list-style-type: none;
}

.main-text{
    color: white;
}

.project-img{
    margin: 20px 0;
}

/*footer*/

.footer-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}


